<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="appinventor.ai_me.a16"
    platformBuildVersionCode="31"
    platformBuildVersionName="12"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action
                android:name="android.intent.action.DIAL" />
        </intent>
    </queries>
    <!-- 允许该应用发送短信。此权限可能会导致意外收费。恶意应用可能会未经您的确认而发送短信，由此产生相关费用。 -->
    <uses-permission
        android:name="android.permission.SEND_SMS" />
    <!-- 允许该应用获取手机已知的账户列表，其中可能包括由已安装的应用创建的所有账户。 -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许该应用在您未执行操作的情况下拨打电话号码。此权限可能会导致意外收费或呼叫。请注意，此权限不允许该应用拨打紧急电话号码。恶意应用可通过拨打电话产生相关费用，而无需您的确认。 -->
    <uses-permission
        android:name="android.permission.CALL_PHONE" />
    <!-- 允许该应用创建网络套接字和使用自定义网络协议。浏览器和其他某些应用提供了向互联网发送数据的途径，因此应用无需该权限即可向互联网发送数据。 -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission
        android:name="com.google.android.apps.googlevoice.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="com.google.android.apps.googlevoice.permission.SEND_SMS" />
    <!-- 允许该应用使用相机拍摄照片和视频。此权限可让该应用随时使用相机，而无需您的确认。 -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <!-- 允许应用读取您SD卡的内容。 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许该应用访问设备的电话功能。此权限可让该应用确定本机号码和设备 ID、是否正处于通话状态以及拨打的号码。 -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <application
        android:theme="@style/AppTheme"
        android:label="点击"
        android:icon="@mipmap/ic_launcher"
        android:name="com.google.appinventor.components.runtime.multidex.MultiDexApplication"
        android:debuggable="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="appinventor.ai_me.a16.XX"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.sp"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.DH"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.dt"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.YL"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.gb"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.bing"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.njsj"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen1"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="appinventor.ai_me.a16.tq"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="appinventor.ai_me.a16.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>